*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-link
{
    transition: all 0.2s ease-in-out;
    margin-left: 20px;
}
.nav-link:hover
{
    transform: scale(1,1);
    background: #f5f7fa;
}
.tit
{
    color: #555;
    font-size: 20px;
    font-weight: 900;

}

/* .navbar-toggler
{
    background-color: #000000;
    border: 0px;
    box-shadow: none;
    float: right;
    min-width: 45px;
    margin-top: 22px;
    margin-left: 20px;
    color: rgba(0,0,0,0.55);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    
} */
.navbar-toggler:hover
{
  background: #2c6ef1;
  color: white;
}

.nenu1, li
{
    font-weight: 600;
}
.box
{
    background-color: blue;
    height: 360px;
}
.r1
{
    width: 15%;

}

.star
{
    position: relative;
    left: 22%;
    border: none;
}
.bt
{
    width: 40%;
    height: 60px;
    border: none;
}
hr .divider
{
    position: relative;
    border: none;
    height: 1px;
    background: #dddddd;
}
.bv
{
    position: relative;
    left: 35%;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

}
.bv:hover
{
    background: #2c6ef1;
    color: white;
}
.bn
{
    /* border: 0px;
    background: ;
    padding: 10px 38px;
    color: #fff;
    font-size: 16px;
    font-weight: 600; */
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #2c6ef1;
    transition: all 0.2s ease-in-out;
}
.bn:hover
{
    transform: scale(1,1);
    background: #2c6ef1;
    color: #fff;
    border: none;
}
.bn::before
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(225,225,255,0.15);
}
.face
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #3b5998;
    transition: all 0.2s ease-in-out;
}
.face:hover
{
    transform: scale(1,1);
    background: #3b5998;
    color: #fff;
    border: none;

}
.goo
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #dd4b39;
    transition: all 0.2s ease-in-out;
}
.goo:hover
{
    transform: scale(1,1);
    background: #dd4b39;
    color: #fff;
    border: none;

}
.foot
{
    background: #ecf0f1;
    border-color: #dee4ef;
    text-align: center;
    /* margin: 0px -20px -20px; */
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    font-size: 14px;
    height: 130%;

}
.modal-header
{
    border-bottom: none;
    position: relative;
    justify-content: center;
    padding-bottom: 35px;
}
.btn-close
{
    position: absolute;
    top: -2px;
    right: -1px;

    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.bn1
{
     display: inline-block;
    margin-top: 5px; 
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;

}
hr
{ 
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
hr
{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}
.wiz
{
    /* width: 66%; */
}
.been
{
    
}

.init
{
    background: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 15%);
    padding: 20;
    height: 130px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    bottom: 80%;
    overflow: hidden;
    
}

.vite:hover
{
    /* background-color: #2c6ef1; */
    color: #2c6ef1;
}
.vit:hover
{
    /* background-color: #2c6ef1; */
    color: #2c6ef1;
}
.init i 
{
   display: block; 
   color: rgba(0,0,0,0.45);
   font-size: 33px;
   text-align: center;
   margin: 0px 0px 15px 0px;
   transition: all 0.2s ease-in-out;
}
.init:hover
{
    transform: scale(1.1);
    color: #2c6ef1;
}
.init:hover::after {
    opacity: 1;
  }
.good
{
    position: relative;
    bottom: 20%;
}
.bit
{
    background: #fff;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
    padding: 20px 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

}
.stretched-link::after
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    /* background-color: rgb(0 0 0 ); */

}
.bel
{
    /* background: #ffffff; */
    /* height: 40px; */
}
.nine 
{
    background: #2c6ef1;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    text-rendering: auto;
    display: block;
    font-variant: normal;
    font-size: normal;
    transition: all 0.2s ease-in-out;
}
.nine:hover
{
    transform: scale(1.1);
    /* background: #2c6ef1; */
    /* border: 1px solid  #2c6ef1; */
    /* color: aqua; */
}
a
{
    color: #2c6ef1;
    text-decoration: none;
    background-color: transparent;
}
.hl
{
    /* background: #ffffff; */
    /* height: 650px; */
    box-shadow: none;
}
.item
{
    background: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 25%);
    padding: 15px;
    margin-top: 30px;
    height: 220px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.author
{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin: 0px 0px 0px 0px;
}
.giw
{
    /* width: 15%; */
    height:  55p;
    /* padding-left: 10%; */
}
.fass
{
    display: inline-block;
    font-size: normal;
    text-rendering: auto;
    line-height: 1;
    color: #fbd606;

}
.fast
{
    display: inline-block;
    font-size: normal;
    text-rendering: auto;
    line-height: 1;
    color: gray;
}
.tel
{
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    color: #fff;
}
.xc
{
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
    color: #555555;
    margin-top: 0;
    margin-bottom: 1rem;
}
.nix
{
    width: 50px;
    height: 50px;
    background: #ddd;
    display: block;
    float: left;
    margin: 0px 15px 0px 0px;
    border-radius: 5px;

}
h4
{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}
.sarr
{
    background: #2c6ef1;
    padding: 80px 0px;
}
.time
{
    color: #777;
    font-size: 13px;
    position: absolute;
    bottom: 25px;
    right: 0px;
}
.rate-rang
{
    color: #666666;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.user_type
{
    border: 1px solid #aaa;
    position: absolute;
    bottom: 0px;
    left: 65px;
    color: #666;
    padding: 2px 6px;
    font-weight: 400;
    border-radius: 4px;
}
.bor
{
    border: 1px solid #fff;
    margin: 0px 7.5px;
    font-size: 16px;
    padding-top: 14px 35px;
    font-weight: 600;
    height: 35px;
    
}
.bor::before
{
    /* background: #fff; */
}
.ben
{
    border: 1px solid #fff;
    height: 35px;
    /* width: 10%; */
    color: #fff;
    margin: 0px 7.5px;
    font-size: 16px;
    padding-top: 10px 35px;
    font-weight: 600;
}
.knowledge-Base
{
    background: #ffffff;
    padding: 80px 0px;
}
.section-title
{
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}
.hh
{
    font-size: 16px;
    font-weight: 600;
    color: #2c6ef1;
    margin-bottom: 10px;
    animation-delay: 0.1s;
}
.hh1
{
    font-weight: 700;
    font-size: 25px;
    bottom: 0px;
    animation-delay: 0.4s;
}
.bas, a, ul, i
{
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
    font-weight: 300;
    position: relative;
    top: 1px;
    transition: all 0.2s ease-in-out;
}
.spa
{
    background: #f5f7fa;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
    margin: 0px 5px;
    transition: all 0.2s ease-in-out;
}
.spa:hover
{
    transform: scale(1,1);
    color: white;
}
.life
{
    color: #d8dee2;
    transition: all 0.2s ease-in-out;
}
.life
{
    color: #2c6ef1;
    transform: scale(1,1);
}
.list-unstyled
{
    margin: 0px;
}
.category-block
{
    padding: 35px 15px 40px 15px;
    display: inline-block;
    color: #444;
    text-decoration: none;
}
h3
{
   
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
}
/* .kid */
{
    border-right: 1px solid #d8dee2;
    border-bottom: 1px solid #d8dee2;
    border-top: 1px solid #d8dee2;
    border-left: 1px solid #d8dee2;
    margin-top: 50px;
    animation-delay: 0.6s;
}
#side_nav
{
    background: #000000;
    min-width: 100vh;
    width: 100%;

}
.content
{
    min-width: 250px;
    max-width: 250px;
}
hr
{ 
    
}
@media screen and (max-width: 600px) {
    .tout
    {
        display: none;
    }
    .category-blocks
    {
        border: 0px;
    }

    
    }





/* ...........mame sane..*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.rez
{
    background-color: #000000;
    height: 70px;
    /* background: fixed; */
    background-size: cover;
    
}
/* .navbar-toggler
{
    background-color: #000000;
    border: 0px;
    box-shadow: none;
    float: right;
    min-width: 45px;
    margin-top: 22px;
    margin-left: 20px;
    color: rgba(0,0,0,0.55);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    
} */
.navbar-toggler:hover
{
  background: #2c6ef1;
  color: white;
}

.nenu1, li
{
    font-weight: 600;
}
.box
{
    background-color: blue;
    height: 360px;
}
.r1
{
    width: 15%;

}
.big
{
    /* width: 80px; */
    /* height: 40px; */
    border-radius: 5px;
    /* font-size: 18px; */
    font-weight: 900;
    bottom: 10%;
    background: #2c6ef1;
    transition: all 0.2s ease-in-out;
}
.big:hover
{
    transform: scale(1,1);
    background: #2c6ef1;
}
.bv
{
    position: relative;
    left: 23%;
    color: gray;
    font-size: 20px;
    font-weight: 500;

}
.star
{
    position: relative;
    left: 22%;
    border: none;
}
.bt
{
    width: 40%;
    height: 60px;
    border: none;
}
hr .divider
{
    position: relative;
    border: none;
    height: 1px;
    background: #dddddd;
}
.bn
{
    /* border: 0px;
    background: ;
    padding: 10px 38px;
    color: #fff;
    font-size: 16px;
    font-weight: 600; */
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #2c6ef1;
}
.bn::before
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(225,225,255,0.15);
}
.face
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #3b5998;
}
.goo
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #dd4b39;
}
.foot
{
    background: #ecf0f1;
    border-color: #dee4ef;
    text-align: center;
    /* margin: 0px -20px -20px; */
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    font-size: 14px;
    height: 130%;

}
.modal-header
{
    border-bottom: none;
    position: relative;
    justify-content: center;
    padding-bottom: 35px;
}
.btn-close
{
    position: absolute;
    top: -2px;
    right: -1px;

    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.bn1
{
     display: inline-block;
    margin-top: 5px; 
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;

}
hr
{ 
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
hr
{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}
.wiz
{
    /* width: 66%; */
}
.been
{
    
}

.init
{
    background: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 15%);
    padding: 20;
    height: 130px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    bottom: 80%;
    overflow: hidden;
    
}

.vite:hover
{
    /* background-color: #2c6ef1; */
    color: #2c6ef1;
}
.vit:hover
{
    /* background-color: #2c6ef1; */
    color: #2c6ef1;
}
.init i 
{
   display: block; 
   color: rgba(0,0,0,0.45);
   font-size: 33px;
   text-align: center;
   margin: 0px 0px 15px 0px;
   transition: all 0.2s ease-in-out;
}
.init:hover
{
    transform: scale(1.1);
    color: #2c6ef1;
}
.init:hover::after {
    opacity: 1;
  }
.good
{
    position: relative;
    bottom: 20%;
}
.bit
{
    background: #fff;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
    padding: 20px 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

}
.stretched-link::after
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    /* background-color: rgb(0 0 0 ); */

}
.bel
{
    /* background: #ffffff; */
    /* height: 40px; */
}
.nine 
{
    background: #2c6ef1;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    text-rendering: auto;
    display: block;
    font-variant: normal;
    font-size: normal;
    transition: all 0.2s ease-in-out;
}
.nine
{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.bit:hover
{
    /* transform: scale(1.1); */
    /* background: #2c6ef1; */
    /* border: 1px solid  #2c6ef1; */
    /* color: aqua; */
}

a
{
    color: #2c6ef1;
    text-decoration: none;
    background-color: transparent;
}
.hl
{
    /* background: #ffffff; */
    /* height: 650px; */
    box-shadow: none;
}
.item
{
    background: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 25%);
    padding: 15px;
    margin-top: 30px;
    height: 220px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.author
{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin: 0px 0px 0px 0px;
}
.giw
{
    /* width: 15%; */
    height:  55p;
    /* padding-left: 10%; */
}
.fass
{
    display: inline-block;
    font-size: normal;
    text-rendering: auto;
    line-height: 1;
    color: #fbd606;

}
.fast
{
    display: inline-block;
    font-size: normal;
    text-rendering: auto;
    line-height: 1;
    color: gray;
}
.tel
{
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    color: #fff;
}
.xc
{
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
    color: #555555;
    margin-top: 0;
    margin-bottom: 1rem;
}
.nix
{
    width: 50px;
    height: 50px;
    background: #ddd;
    display: block;
    float: left;
    margin: 0px 15px 0px 0px;
    border-radius: 5px;

}
h4
{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}
.sarr
{
    background: #2c6ef1;
    padding: 80px 0px;
}
.time
{
    color: #777;
    font-size: 13px;
    position: absolute;
    bottom: 25px;
    right: 0px;
}
.rate-rang
{
    color: #666666;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.user_type
{
    border: 1px solid #aaa;
    position: absolute;
    bottom: 0px;
    left: 65px;
    color: #666;
    padding: 2px 6px;
    font-weight: 400;
    border-radius: 4px;
}
.bor
{
    border: 1px solid #fff;
    margin: 0px 7.5px;
    font-size: 16px;
    padding-top: 14px 35px;
    font-weight: 600;
    height: 55px;
    width:  55px;
    transition: all 0.2s ease-in-out;
    
}
.bor:hover

{
    background: #fff;
    transform: scale(1.1);
    color: #2c6ef1;
    border: none;
}
.ben
{
    height: 55px;
    width: 160px;
    color: #fff;
    font-weight: 600;
}
.knowledge-Base
{
    background: #ffffff;
    padding: 80px 0px;
}
.section-title
{
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}
.hh
{
    font-size: 16px;
    font-weight: 600;
    color: #2c6ef1;
    margin-bottom: 10px;
    animation-delay: 0.1s;
}
.hh1
{
    font-weight: 700;
    font-size: 25px;
    bottom: 0px;
    animation-delay: 0.4s;
}
.bas, a, ul, i
{
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
    font-weight: 300;
    position: relative;
    top: 1px;
    transition: all 0.2s ease-in-out;
}
.spa
{
    background: #f5f7fa;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
    margin: 0px 5px;
    transition: all 0.2s ease-in-out;
}
.spa:hover
{
    transform: scale(1.1);
    background: #2c6ef1;
}
.list-unstyled
{
    /* margin: 0px; */
}
.category-block
{
    padding: 35px 15px 40px 15px;
    display: inline-block;
    color: #444;
    text-decoration: none;
}
h3
{
   
    font-size: 21px;
    color: #000000;
    font-weight: 600;
    margin-bottom: 20px;
}
.vj
{
    color: #000000;
    font-size: 25px;
}
.category-blocks
{
    border-right: 1px solid #d8dee2;
    border-bottom: 1px solid #d8dee2;
    border-top: 1px solid #d8dee2;
    border-left: 1px solid hsl(204, 15%, 87%);
    margin-top: 50px;
    animation-delay: 0.6s;
}
#side_nav
{
    background: #000000;
    min-width: 100vh;
    width: 100%;

}
.content
{
    min-width: 250px;
    max-width: 250px;
}
.el
{ 
    border: 1px solid #2c6ef1;
    color: #2c6ef1;
}
.header-dash
{
    min-height: 335px;
    position: relative;
    padding: 80px 0px 0px 0px;
}
.fatal
{
    display: none;
}
.category-block, a
{
    color: #6d7a8d;
    /* font-size: 23px; */
    /* line-height: 46px; */
    font-weight: 400;
}
.category-block{
    line-height: 35px;
}

.taf 
{
    padding: 80px 0px
}
.taf .taf1 {
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
  
} 
.taf .team-row {
    display: block;
    text-align: center;
    margin-top: 60px;

} 
.text-center {
    text-align: center!important;
  
} 
.taf .taf1 h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1455d5;
    margin-bottom: 10px;
    animation-delay: 0.1s;

 }  
 .taf .taf1 h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0px;
    animation-delay: 0.4s;

}  
.taf .team-row {
    display: block;
    text-align: center;
    margin-top: 60px;    
 }
 .taf .team-row .team-card {
    display: inline-block;
    text-align: center;
    min-width: 110px;
        
 }
.taf .team-row .team-card>h5 {
     font-size: 15px;
     margin-bottom: 2px;
     font-weight: 600;   
 }
 .taf .team-row .team-card>p {
    font-size: 13px;
    color: #86848b;    
 }
 .taf .team-row .team-card>img {
    display: block;
    width: 90px;
    height: 90px;
    margin: 0px auto 15px auto;
    border-radius: 5px;    
}
.taf .team-chat-btn {
    background: #2c6ef1;
    border: 0px;
    box-shadow: none;
    padding: 10px 38px;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    transition: all 0.2s ease-in-out;
  
}
.Pricing .pricing-category .price-rate p {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
}
.Pricing .pricing-category {
    background: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,0.13);
    transition: all linear .3s;
    border-radius: 5px;
    margin-top: 30px;
}
.Pricing .pricing-category .price-rate {
    width: 100%;
    background: #2c6ef1;
    padding: 5px 0px 19px;
}
.Pricing .pricing-category .price-rate .rate-p {
    font-size: 14px;
    padding-top: 0;
}
.Pricing .pricing-category .price-details p {
    color: #444444;
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.Pricing .pricing-category .join h4 a {
    background-color: #2c6ef1;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    margin-right: 10px;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    transition: all linear .2s;
}
.Pricing .pricing-category .join h4 a:before {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(255,255,255,0.15);
    transition: all linear .2s;
}
.Pricing .pricing-category .join h4 {
    padding: 23px 0px 30px;
    display: block;
    text-align: center;
}
.Pricing .pricing-category .price-head h3 {
    padding-top: 25px;
    padding-bottom: 17px;
    font-size: 23px;
    font-weight: 600;
}
.Subscribe {
    background: #ffffff;
    padding: 80px 0px;
}
.Subscribe .section-title {
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}
.Subscribe .section-title h4 {
    font-size: 16px;
    font-weight: 600;
    color: #1455d5;
    margin-bottom: 10px;
    animation-delay: 0.1s;
}
.Subscribe .section-title h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0px;
    animation-delay: 0.4s;
}
.Subscribe .section-title h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0px;
    animation-delay: 0.4s;
}
.Subscribe .subscribe-form {
    margin-top: 30px;
}
.Subscribe .subscribe-form .form-control {
    background: #eff1f6;
    border: 0px !important;
    box-shadow: none !important;
    height: 47px;
    font-size: 16px;
}

.input-group-append {
    margin-left: -1px;
}
.Subscribe .subscribe-form .btn {
    border: 0px !important;
    box-shadow: none !important;
    background: #2c6ef1;
    padding: 10px 38px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    z-index: 25;
    transition: all 0.2s ease-in-out;
}
.Footer {
    background-color: #f5f7fa;
    background: linear-gradient(0deg, #f0f4f7 50%, #fff 70%);
    padding: 0px 0px 60px 0px;
    text-align: center;
}

.Footer .menu {
    margin-bottom: 30px;
}
.Footer .social-icons {
    margin-bottom: 30px;
}
.Footer .copyright {
    color: #666;
}
.Footer .menu>ul {
    margin: 0px;
    padding: 0px;
}
.Footer .menu>ul>li {
    text-align: center;
    margin: 0px 10px;
    display: inline-block;
}
.Footer .menu>ul>li>a {
    color: #666;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.Footer .social-icons>a {
    display: inline-block;
    margin: 0px 10px;
    color: #666;
    text-decoration: none;
    font-size: 21px;
    transition: all 0.2s ease-in-out;
}









@media screen and (max-width: 600px) {
    .tout
    {
        display: none;
    }
    .category-blocks
    {
        border: 0px;
    }
    .fatal
    {
        /* visibility: hidden; */
        
    }
    .ben
    {
        width: 108px;
    }
    .bv
    {
        /* position: relative;
        left: -60px;
        top: -50px; */
    }
    .nenu1
    {
       /* position: relative;
       left: -50px;
       top: -50px; */
    }
    .big
    {
        
        
    }



}
    


/* ...........mame sane.............. */


/* .................fin.................. */

/* ...........fatou diop.............. */


/* .................fin.................. */



/* .................fin.................. */

/* ...........fatou diop.............. */


/* .................fin.................. */