*
{
    padding: 0;
    margin: 0;
    
    
}
.nav-link
{
    transition: all 0.2s ease-in-out;
}
.nav-link:hover
{
    transform: scale(1,1);
    background: #f5f7fa;
}

.rez
{
    background-color: #000000;
    height: 60px;
    /* background: fixed; */
    background-size: cover;
    
}
/* .navbar-toggler
{
    background-color: #000000;
    border: 0px;
    box-shadow: none;
    float: right;
    min-width: 45px;
    margin-top: 22px;
    margin-left: 20px;
    color: rgba(0,0,0,0.55);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    
} */
.navbar-toggler:hover
{
  background: #2c6ef1;
  color: white;
}

.nenu1, li
{
    font-weight: 700;

}
.box
{
    background-color: blue;
    height: 360px;
}
.r1
{
    width: 15%;

}
.star
{
    position: relative;
    left: 22%;
    border: none;
}
.bt
{
    width: 40%;
    height: 60px;
    border: none;
}
hr .divider
{
    position: relative;
    border: none;
    height: 1px;
    background: #dddddd;
}
.bv
{
    position: relative;
    left: 23%;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

}
.bv:hover
{
    background: #2c6ef1;
    color: white;
}
.bn
{
    /* border: 0px;
    background: ;
    padding: 10px 38px;
    color: #fff;
    font-size: 16px;
    font-weight: 600; */
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #2c6ef1;
    transition: all 0.2s ease-in-out;
}
.bn:hover
{
    transform: scale(1,1);
    background: #2c6ef1;
    color: #fff;
    border: none;
}
.bn::before
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(225,225,255,0.15);
}
.face
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #3b5998;
    transition: all 0.2s ease-in-out;
}
.face:hover
{
    transform: scale(1,1);
    background: #3b5998;
    color: #fff;
    border: none;

}
.goo
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #dd4b39;
    transition: all 0.2s ease-in-out;
}
.goo:hover
{
    transform: scale(1,1);
    background: #dd4b39;
    color: #fff;
    border: none;

}
.foot
{
    background: #ecf0f1;
    border-color: #dee4ef;
    text-align: center;
    /* margin: 0px -20px -20px; */
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    font-size: 14px;
    height: 130%;

}
.modal-header
{
    border-bottom: none;
    position: relative;
    justify-content: center;
    padding-bottom: 35px;
}
.btn-close
{
    position: absolute;
    top: -2px;
    right: -1px;

    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.bn1
{
     display: inline-block;
    margin-top: 5px; 
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;

}
hr
{ 
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
hr
{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}
.big
{
   
    border-radius: 5px;
    /* font-size: 18px; */
    font-weight: 900;
    bottom: 10%;
    background: #2c6ef1;
    transition: all 0.2s ease-in-out;
}
.big:hover
{
    transform: scale(1,1);
    background: #2c6ef1;
}

.header-bug
{
    /* height: 150px; */
    min-height: auto;
    /* padding-top: 50px; */
    position: relative;
    padding: 60px 0px 0px 0px;
    background: #1455d5;
    height: 170px;
}
.fil
{
    margin: -8px 0 0 0;
}
.ins
{
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 18px;
    color: #666;
}
.search-form
{
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25) 
    !important;
    border: none;
    width: 100%;
    height: 50%;
    outline: none;
    padding: 6px 20px 6px 50px;
    font-size: 16px;
    color: #555;
    display: block;
    border-radius: 5px;
}
.tit
{
    color: #555;
    font-size: 20px;
    font-weight: 900;

}
.breadcrumb
{
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    /* color: #ecf0f1; */
}
.dig
{
    /* padding-left: 1.5rem; */
    font-weight: lighter;
    font-size: 18px;
    word-spacing: 20%;
}
ol
{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #dddddd;
}
input
{
    border: none;
}
/* .header-bug::after */
/* {
  background: #1455d5;
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 335px;
  z-index: 10;

} */
.ter
{
    /* background-color: #f5f7fa; */
    background: linear-gradient(0deg, #f0f4f7 50%, #fff 70%);
    padding: 0px 0px 60px 0px;
    text-align: center;
}
.menu, ul
{
    
    /* display: flex; */
    margin: 0px;
    padding: 0px;
}
.menu
{
    margin-bottom: 30px;
}

.menu, ul, li
{
    text-align: center;
    /* margin: 0px 10px; */
    display: inline-block;
}
.menu, ul, li, a
{
    color: #666;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    
}
.hh2
{
    font-size: 27px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.social-icons
{
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
}
.first:hover
{
    transform: scale(1,1);
    color: #2c6ef1;
}
.first
{
    transition: all 0.2s ease-in-out;
    color: #555;
    font-size: 25px;
}
.ainsi
{
    margin-bottom: 30px;
    /* color: #666; */
}
.social-icons, a
{
    /* display: block; */
    
    margin: 0px 10px;
    color: #666;
    /* text-decoration: none; */
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}
.rido
{
     color: #555;
    font-size: 18px; 
    font-weight: lighter;
}
a
{
    
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
li, .breadcrumb-item
{
    position: relative;
    margin-bottom: 10px;
    color: #6b8291;
}
@media screen and (max-width: 600px){
    .header-bug
    {
        height: 220px;
    }
}