*
{
    padding: 0;
    margin: 0;
    
    
}
.nav-link
{
    transition: all 0.2s ease-in-out;
    margin-left: 20px;
}
.nav-link:hover
{
    transform: scale(1,1);
    background: #f5f7fa;
}

.rez
{
    background-color: #000000;
    height: 60px;
    /* background: fixed; */
    background-size: cover;
    
}
/* .navbar-toggler
{
    background-color: #000000;
    border: 0px;
    box-shadow: none;
    float: right;
    min-width: 45px;
    margin-top: 22px;
    margin-left: 20px;
    color: rgba(0,0,0,0.55);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    
} */
.navbar-toggler:hover
{
  background: #2c6ef1;
  color: white;
}

.nenu1, li
{
    font-weight: 700;

}
.box
{
    background-color: blue;
    height: 360px;
}
.r1
{
    width: 15%;

}
.star
{
    position: relative;
    left: 22%;
    border: none;
}
.bt
{
    width: 40%;
    height: 60px;
    border: none;
}
hr .divider
{
    position: relative;
    border: none;
    height: 1px;
    background: #dddddd;
}
.bv
{
    position: relative;
    left: 27%;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

}
.bv:hover
{
    background: #2c6ef1;
    color: white;
}
.bn
{
    /* border: 0px;
    background: ;
    padding: 10px 38px;
    color: #fff;
    font-size: 16px;
    font-weight: 600; */
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #2c6ef1;
    transition: all 0.2s ease-in-out;
}
.bn:hover
{
    transform: scale(1,1);
    background: #2c6ef1;
    color: #fff;
    border: none;
}
.bn::before
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(225,225,255,0.15);
}
.face
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #3b5998;
    transition: all 0.2s ease-in-out;
}
.face:hover
{
    transform: scale(1,1);
    background: #3b5998;
    color: #fff;
    border: none;

}
.goo
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #dd4b39;
    transition: all 0.2s ease-in-out;
}
.goo:hover
{
    transform: scale(1,1);
    background: #dd4b39;
    color: #fff;
    border: none;

}
.foot
{
    background: #ecf0f1;
    border-color: #dee4ef;
    text-align: center;
    /* margin: 0px -20px -20px; */
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    font-size: 14px;
    height: 130%;

}
.modal-header
{
    border-bottom: none;
    position: relative;
    justify-content: center;
    padding-bottom: 35px;
}
.btn-close
{
    position: absolute;
    top: -2px;
    right: -1px;

    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.bn1
{
     display: inline-block;
    margin-top: 5px; 
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;

}
hr
{ 
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
hr
{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}
.big
{
   
    border-radius: 5px;
    /* font-size: 18px; */
    font-weight: 900;
    bottom: 10%;
    background: #2c6ef1;
    transition: all 0.2s ease-in-out;
}
.big:hover
{
    transform: scale(1,1);
    background: #2c6ef1;
}

.header-bug
{
    
    min-height: auto;
    position: relative;
    padding: 60px 0px 0px 0px;
    background: #1455d5;
    height: 170px;
}
.fil
{
    margin: -8px 0 0 0;
}
.ins
{
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 18px;
    color: #666;
}

.tit
{
    color: #555;
    font-size: 20px;
    font-weight: 900;

}
.breadcrumb
{
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    /* color: #ecf0f1; */
}
.dig
{
    /* padding-left: 1.5rem; */
    font-weight: lighter;
    font-size: 18px;
    word-spacing: 20%;
}
ol
{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #dddddd;
}
input
{
    border: none;
}
.diss
{
    display: flex;
}
li
{
    list-style-type: none;
}

.Footer {
    background-color: #f5f7fa;
    background: linear-gradient(0deg, rgb(142, 222, 222)10% , white);
    /* background:  #f0f4f7; */
    padding: 0px 0px 60px 0px;
    text-align: center;
}

.Footer .menu {
    margin-bottom: 30px;
}
.Footer .social-icons {
    margin-bottom: 30px;
}
.Footer .copyright {
    color: #666;
}
.Footer .menu>ul {
    margin: 0px;
    padding: 0px;
}
.Footer .menu>ul>li {
    text-align: center;
    margin: 0px 10px;
    display: inline-block;
}
.Footer .menu>ul>li>a {
    color: #666;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.Footer .social-icons>a {
    display: inline-block;
    margin: 0px 10px;
    color: #666;
    text-decoration: none;
    font-size: 21px;
    transition: all 0.2s ease-in-out;
}
.Footer .social-icons>a:hover
{
    transform: scale(1,1);
    color: #1455d5;
}


.font-w-700 {
    font-weight: 700;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.font-s-13 {
    font-size: 13px;
}
.mt-5, .my-5 {
    margin-top: 3rem;
}
/* .font-w-600 {
    font-weight: 600;
} */
.nice {
    background: #ffffff;
    padding-bottom: 50px;
    padding-top: 60px;
}
.logg
{
    /* padding-bottom: 50px; */
    font-size:  19px;
}
.bgg
{
  background:  #f5fafa;
}
@media screen and (max-width: 600px){
    .header-bug
    {
        height: 220px;
    }
}